<!-- <mat-form-field>
  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let name of cityname" [value]="name">{{name}}</mat-option>
</mat-autocomplete>


<mat-form-field>
  <input type="text" matInput [formControl]="myControl2" [matAutocomplete]="auto">
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let name of cityname" [value]="name">{{name}}</mat-option>
</mat-autocomplete> -->

<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Checkout form</h2>
    <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
  </div>

  <div class="row">
    <!-- <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">3</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Voyages disponibles</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">$12</span>
        </li>
        <li *ngFor="let travel of traveldata" class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{ myControl.value }} - {{ myControl2.value }}</h6>
            <small class="text-muted">Départ : {{ travel.departure_date_time | date:'HH:mm:ss' }} - Arrivée : {{ travel.arrival_date_time | date:'HH:mm:ss' }}</small>
          </div>
          <span class="text-muted">{{ travel.departure_date_time | date }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong>$20</strong>
        </li>
      </ul>

      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </div>
      </form>
    </div> -->
    <!-- <div class="col-md-12 order-md-1">
      <h4 class="mb-3">Billing address</h4>
      <form class="needs-validation" novalidate (ngSubmit)="onSubmit()" [formGroup]="voyage">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="address1">Ville de départ</label>
            <mat-form-field>
              <input id="address1" type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
            </mat-form-field>
            
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let name of cityname" [value]="name">{{name}}</mat-option>
            </mat-autocomplete>
          </div>
          <div class="col-md-6 mb-3">
            <label for="address2">Ville d'arrivée</label>
            <mat-form-field>
              <input id="address2" type="text" matInput [formControl]="myControl2" [matAutocomplete]="auto2">
            </mat-form-field>
            
            <mat-autocomplete #auto2="matAutocomplete">
              <mat-option *ngFor="let name2 of cityname2" [value]="name2">{{name2}}</mat-option>
            </mat-autocomplete>
          </div>
        </div>

        <hr class="mb-4">
        <div class="mb-3">
          <div class="form-group row">
            <label for="example-date-input" class="col-2 col-form-label">Date</label>
            <div class="col-10">
              <input class="form-control" formControlName="dateinput" type="date" id="example-date-input">
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <div class="mb-3">
          <div class="form-group row">
            <label for="example-time-input" class="col-2 col-form-label">Time</label>
            <div class="col-10">
              <input class="form-control" formControlName="heure" type="time" id="example-time-input">
            </div>
          </div>
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Valider</button>
      </form>
      <hr class="mb-12">
    </div> -->
    <app-formulaire class="col-md-12 order-md-1"></app-formulaire>
    <!-- <div class="col-md-12 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">3</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Voyages disponibles</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">$12</span>
        </li>
        <li *ngFor="let travel of traveldata" class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Villes : {{ city }} - {{ city2 }}</h6>
            <h6 class="my-0">Gares : {{ travel.sections[1].from.name }} - {{ travel.sections[1].to.name }}</h6>
            <small class="text-muted">Départ : {{ travel.departure_date_time | date:'HH:mm:ss' }} - Arrivée : {{ travel.arrival_date_time | date:'HH:mm:ss' }}</small>
          </div>
          <span class="text-muted">{{ travel.departure_date_time | date }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong>$20</strong>
        </li>
      </ul>

      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </div>
      </form>
    </div> -->
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2018 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../assets/js/vendor/popper.min.js"></script>
<script src="../assets/js/vendor/holder.min.js"></script>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';

    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');

      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

<!-- <router-outlet></router-outlet> -->